<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="generator" content="Jekyll">
  <title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="icon" type="image/png" href="/img/favicon.png" >
  <link rel="stylesheet" href="{{ "/css/site.css" | prepend: site.baseurl | replace: '//', '/' }}">
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Danh's blog" />
</head>
