<header id="header">
	<a href="{{ site.baseurl | append: '/' | replace: '//', '/' }}">
		<h1>{{ site.title }}</h1>
	</a>
	<nav id="icons">
		<a target="_blank" href="{{ site.github }}">GitHub</a>
		<a target="_blank" href="{{ site.gitlab }}">GitLab</a>
		<a href="{{ site.baseurl | append: '/qr.html' | replace: '//', '/' }}">QR Generator</a>
		<a href="{{ site.baseurl | append: '/about.html' | replace: '//', '/' }}">About</a>
	</nav>
</header>
