<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		<div id="wrap">
			<!-- Header -->
			{% include header.html %}
			<!-- Main content -->
			<div id="container">
				<main>
				{{ content }}
				</main>

				<!-- Pagination links -->
				{% if paginator.total_pages > 1 %}
				<div class="pagination">
					{% if paginator.previous_page == 1 %}
					<a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
					{% elsif paginator.previous_page%}
					<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
					{% else %}
					<span class="page-item">&laquo;</span>
					{% endif %}

					{% for page in (1..paginator.total_pages) %}
					{% if page == paginator.page %}
					<span class="page-item">{{ page }}</span>
					{% elsif page == 1 %}
					<a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">{{ page }}</a>
					{% else %}
					<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="page-item">{{ page }}</a>
					{% endif %}
					{% endfor %}

					{% if paginator.next_page %}
					<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&raquo;</a>
					{% else %}
					<span class="page-item">&raquo;</span>
					{% endif %}
				</div>
				{% endif %}
			</div>
			<!-- Footer -->
			{% include footer.html %}
			<!-- Script
			{!!! % include script.html %}
			-->
		</div>
	</body>
</html>
